<h1>Dashboard</h1>
<p>Here you can find the number of products and categories currently present in Jungle.</p>



<div class="jumbotron">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Products:</h4>
          <span class="badge badge-info">20</span>

        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Categories:</h4>
          <span class="badge badge-info">4</span>
        </div>
      </div>
    </div>
  </div>
</div>


