<h1>About Jungle</h1>
<p>Hello! We would love to tell you about Jungle, but instead we will let Guns 'n Roses do the talking!</p>
<br>
<div class="col-sm-6">
  <div class="card">
    <p><i>Welcome to the jungle<br>
    We've got fun 'n' games<br>
    We got everything you want<br>
    Honey, we know the names<br>
    We are the people that can find<br>
    Whatever you may need<br>
    If you got the money, honey<br>
    We got your disease</i><br>
    <br>
    - Guns 'n Roses</p>
  </div>
</div>